.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #33b4c3;
}


.item-detail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-width: 50%;

}

.item-detail-image {
  width: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.item-detail-image-container {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 0px;
  margin: 0px;
  vertical-align: bottom;
}

.item-detail-description {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px;
  margin: 0;
  font-size: 1rem;
  color: #7f7e7e;
}

.item-detail-number {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #7f7e7e;
}

.item-detail-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #ff6633;
}

.item-detail-category {
  font-size: 1.2rem;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  color: #7f7e7e;
}

.navbar ul .nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  margin-right: 1rem;
}

.btn-nav-items {
  display: inline-block;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin: 4px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background: linear-gradient(180deg, #33b4c3, #20717a);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  margin-bottom: 0px;
}

.btn-nav-items:hover {
  background: linear-gradient(180deg, #5c5c5c, #333);
  text-decoration: none;
}

.btn-nav-items:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
  text-decoration: none;
}