.item-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Ajusta el espacio entre las tarjetas */
  border: none;
  background-color: #ffffff;
  padding-top: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.item-list-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Ajusta el espacio entre las tarjetas */
  border: none;
  background-color: #4bda13;
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}